<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table id="filter-table">
    <thead>
    <tr>
        <th>
                <span class="flex items-center">
                    Bank Name
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
        <th>
                <span class="flex items-center">
                    Account number
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
        <th>
                <span class="flex items-center">
                    Account Type
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
        <th>
                <span class="flex items-center">
                    Opening Balance
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
        <th>
                <span class="flex items-center">
                    Interest
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
        <th>
                <span class="flex items-center">
                    Tds
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bankInformation : ${bankInformationList}">
        <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
            th:text="*{bankInformation.bankName}"></td>
        <td th:text="*{bankInformation.accNo}"></td>
        <td th:text="*{bankInformation.accType}"></td>
        <td th:text="*{bankInformation.openingBalance}"></td>
        <td th:text="*{bankInformation.interest}"></td>
        <td th:text="*{bankInformation.tds}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>