<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="bank-info-table">
    <table id="bank-info-table" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Bank Name</th>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Opening Balance</th>
            <th>Interest</th>
            <th>TDS</th>
            <th>Balance</th>
            <th>File</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b-2 border-dashed" th:each="bankInfo, iterStat : ${bankInfoList}">
            <td th:text="${bankInfo.bankName}"></td>
            <td th:text="${bankInfo.accNo}"></td>
            <td th:text="${bankInfo.accType}"></td>
            <td th:text="${bankInfo.openingBalance}"></td>
            <td th:text="${bankInfo.interest}"></td>
            <td th:text="${bankInfo.tds}"></td>
            <td th:text="${bankInfo.balance}"></td>
            <td th:text="${bankInfo.fileId.fileName}"></td>
            <td><a th:href="${bankInfo.fileId.getFileUrl()}"
                   class="text-blue-600 hover:underline" target="_blank">Open</a></td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>