<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="bank-info">
    <form th:action="@{/upload/add-bank-info}" th:method="post" enctype="multipart/form-data"
          th:object="${bankInformation}">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="bankName">
                        Bank Name
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="bankName" type="text" placeholder="Write" th:field="*{bankName}" required>
                </div>
                <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="accNo">
                        Account Number
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="accNo" type="number" placeholder="123456789" th:field="*{accNo}" required>
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/3 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="accType">
                        Account Type
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="accType" type="text" placeholder="Write" th:field="*{accType}">
                </div>
                <div class="md:w-1/3 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2"
                           for="openingBalance">
                        Opening Balance
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="openingBalance" type="number" placeholder="99999"
                           th:field="*{openingBalance}" required>
                </div>
                <div class="md:w-1/3 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="interest">
                        Interest
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="interest" type="number" placeholder="7.5%" th:field="*{interest}">
                </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/3 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="tds">
                        TDS
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="tds" type="number" placeholder="1000" th:field="*{tds}" required>
                </div>
                <div class="md:w-1/3 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="balance">
                        Balance
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           id="balance" type="number" placeholder="100000" th:field="*{balance}">
                </div>
                <div class="md:w-1/3 px-3">
                    <label class="block text-sm/6 font-semibold text-gray-900"
                           for="file_input">Upload file</label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                           aria-describedby="file_input_help" id="file_input" name="image"
                           accept="application/pdf,image/*" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">MAX.
                        1M</p>
                </div>
            </div>
            <div class="-mx-3 md:flex mt-2 justify-end">
                <div class="md:w-1/6 px-3">
                    <button type="submit"
                            class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <th:block th:replace="~{components/upload/bank-info-table :: bank-info-table}"/>
    </div>
</th:block>
</body>
</html>