<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="investment-info-table">
    <table id="investment-info-table" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Investment Type</th>
            <th>Name</th>
            <th>Account Number</th>
            <th>Opening Balance</th>
            <th>Balance</th>
            <th>TDS</th>
            <th>File</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b-2 border-dashed" th:each="investmentInfo, iterStat : ${investmentInfoList}">
            <td th:text="${investmentInfo.investmentType}"></td>
            <td th:text="${investmentInfo.name}"></td>
            <td th:text="${investmentInfo.accountNumber}"></td>
            <td th:text="${investmentInfo.openingBalance}"></td>
            <td th:text="${investmentInfo.balance}"></td>
            <td th:text="${investmentInfo.tds}"></td>
            <td th:text="${investmentInfo.file.fileName}"></td>
            <td><a th:href="${investmentInfo.file.getFileUrl()}"
                   class="text-blue-600 hover:underline" target="_blank">Open</a></td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>